body{
  margin:0;
}
a {   /*a라는 태그를 가진모든것들에 적용*/
  color:black;
  
}
h1 {
  padding:20px;
  font-size: 45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;

}

ol{     /*ol이라는 태그를 가진 모든것들에 적용*/
  border-right:1px solid grey;
  width:100px;
   margin:0;
   padding:20px;

}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{  /*ol이라는 태그가 한번이 아니라 여러번 쓸수있어서 grid안의 ol태그만 적용*/
   padding-left:33px;




}
#grid #article{
  padding-left:25px;

}
@media(max-width:800px){
  #grid{
    display: block;
  }
  ol{     /*ol이라는 태그를 가진 모든것들에 적용*/
    border-right:none;
  }
  h1 {
  border-bottom:none;
  }
}
